
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="iScannerAndroidAutomation" parallel="methods" thread-count="1">
    <test name="SmokeTest">
        <classes>

            <class name="com.iScanner.test.LaunchScreenTest"/>
            <class name="com.iScanner.test.ScreenCaptureTest"/>
        </classes>
    </test>
</suite>